html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    background: #1d1d1d;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fff;
    height: 100vh;
}
/* ADAPTABILITÉ */
@media screen and (max-width: 900px) {
  .menu {
    z-index: -5;
    opacity: 0;
    transition: visibility 0s 0s,z-index 0s 0s;
    visibility: hidden;
  }
  #mobilemenu {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-top: 20px;
      z-index: 20;
      -webkit-user-select: none;
      user-select: none;
  }
  .mblmenu_top a {
    color: #00a8ff;
    font-size: 2rem;
    padding: 2vh;
  }
  #mblmenu-top_span {
    font-family: verdana;
    color: #a5a5a5;
    font-size: 0.7rem;
  }
  .mblmenu_nav {
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid #282828;
    margin-top: 8vh;
  }
  .mblmenu_nav a {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #282828;
    font-size: 1.2rem;
    color: #969696;
    display: block;
    line-height: 3.5rem;
  }
  .mblmenu_social li {
    text-align: center;
    display: list-item;
    padding: 5px;
  }
}
@media screen and (max-width: 350px) {
  .mblmenu_top a {
    color: #00a8ff;
    font-size: 1.5rem;
    padding-top: 4.5vh;
  }
  .mblmenu-top_span {
    font-family: verdana;
    color: #a5a5a5;
    font-size: 0.7rem;
  }
  .mblmenu_nav {
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-top: 1px solid #282828;
    margin-top: 3.7vh;
  }
  .mblmenu_nav a {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #282828;
    font-size: 1.2rem;
    color: #969696;
    display: block;
    line-height: 3.2rem;
  }
}
@media screen and (max-width: 290px) {
  .mblmenu-top_span {
    font-family: verdana;
    color: #a5a5a5;
    font-size: 0.69rem;
  }
  .mblmenu_nav a {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #282828;
    font-size: 1rem;
    color: #969696;
    display: block;
    line-height: 3rem;
  }
  .mblmenu_social li {
    text-align: center;
    display: list-item;
    padding: 3px;
  }
}

/* MENU MOBILE */

#mobilemenu>input {
  display: flex;
  position: absolute;
  width: 40px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.menuToggle_span
{
  width: 29px;
  height: 2px;
  position: relative;
  margin-bottom: 5px;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#mobilemenu span:nth-child(1)
{
  transform-origin: 0% 0%;
}
#mobilemenu span:nth-child(3)
{
  transform-origin: 0% 100%;
}
#mobilemenu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#mobilemenu input:checked ~ span:nth-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#mobilemenu input:checked ~ span:nth-child(4)
{
  transform: rotate(-45deg) translate(0, -5px);
}
#mobile-menu {
  position: fixed;
  width: 35vw;
  height: 100vh;
  top: -20px;
  left: 0;
  padding-top: 8vh;
  background-color: #181818;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  align-content: center;
  justify-content: space-between;
}
#mobilemenu input:checked {
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#mobile-menu a {
    text-decoration: none;
}
#mobile-menu li {
  list-style: none;
}
#mobilemenu input:checked ~ div {
  transform: none;
}
.mblmenu_top {
  width: 100%;
  height: 13rem;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  justify-content: center;
}
.mblmenu_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mblmenu_social {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10vh;
}
.mblmenu_social img:hover {
  transform: scale(1.25);
}

/* MENU NORMAL */

.menu {
  width: 8.5rem;
  height: 100vh;
  position: fixed;
  background-color: #181818;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu_top {
  width: 100%;
  height: 13rem;
  background-color: #252525;
  -webkit-box-align: center;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  justify-content: center;
}
.menu_top a {
  color: #00a8ff;
  font-size: 2rem;
  padding: 1.1rem;
}
a {
  text-decoration: none;
}
.menu-top_span {
  font-family: verdana;
  color: #a5a5a5;
  font-size: 0.7rem;
  margin-top: 1rem;
}
.menu_nav {
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-top: 1px solid #282828;
}
nav {
  display: block;
}
.menu_nav a {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #282828;
  font-size: 1.2rem;
  color: #969696;
  display: block;
  line-height: 3.5rem;
}
.menu_nav a:hover {
  transition: all .4s ease-out;
  color: #00a8ff;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.menu_social {
  display: flex;
  padding: 0;
  flex-wrap: wrap;  
}
.menu_social li {
  text-align: center;
  display: list-item;
  padding: 5px;
}
.menu_social img:hover {
  transform: scale(1.25);
}

/* HOME PAGE */

#page-content {
  display: block;
  padding-left: 8.5rem;
  z-index: -5;
  padding-top: 4rem;
  overflow-y: hidden;
  overflow-x: hidden;
}
.entry {
  margin-left: 4.5rem;
}
h1::before {
  content: "< h1 >";
  font-family: trebuchet;
  font-style: italic;
  color: #515151;
  font-size: 1rem;
  position: absolute;
  margin-top: -1.7rem;
  opacity: 0.7;
}
h1::after {
  content: "< / h1 >";
  font-family: trebuchet;
  font-style: italic;
  color: #515151;
  font-size: 1rem;
  position: absolute;
  margin-top: 5rem;
  opacity: 0.7;
}
/* .space {
  padding-left: 20px;
} */
#zone-texte span {
  margin: -0.625rem;
  align-items: center;
  display: inline-block;
}
#zone-texte {
  margin-top: 2rem;
  font-size: 3rem;
  user-select: none;
  -webkit-user-select: none;
}
.bounce:hover {
  color: #00a8ff;
  transition: all .3s ease-out;
  animation: bounce 1s ease-out;
}

@keyframes bounce {
  10%,50%,80%,to {
    -webkit-transform: scale(1, 1);
  }
  40% {
    -webkit-transform: scale(1.2, 0.6);
  }
  70% {
    -webkit-transform: scale(1.1, 0.75);
  }
  90% {
    -webkit-transform: scale(1.05, 0.85);
  }
}
.button{
  border: 1px solid #00a8ff;
  background: none;
  height: 52px;
  width: 180px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 10;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.btncontact{
  color: #00a8ff;
}
.btncontact:hover{
  color: #fff;
  transition: .8s;
}
.button::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #00a8ff;
  z-index: -1;
  transition: 0.8s;
}
.btncontact::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btncontact:hover::before{
  height: 200%;
}
/*A propos*/
#about {
  margin-top: 23rem;
  margin-left: 4.5rem;
}
#about h2 {
  font-size: 3.5rem;
  color: #00a8ff;
  user-select: none;
  -webkit-user-select: none;
}
#about span {
  margin: -0.525rem;
  display: inline-block;
}
#about p {
  width: 43%;
  font-size: 1.3rem;
  position: relative;
}
#right-p {
  margin-top: -13.3rem;
  margin-left: 50rem;
  text-align: right;
}
#banner {
  top: 4rem;
  position: relative;
  background: #8d8d8d;
  height: 70px;
  width: 1530px;
  border: none;
  z-index: 10;
}
/*Compétences*/
#skill {
  margin-top: 28rem;
  margin-left: 4.5rem;
}
#skill h2 {
  font-size: 3.5rem;
  color: #00a8ff;
  user-select: none;
  -webkit-user-select: none;
}
#skill h2>span {
  margin: -0.525rem;
  display: inline-block;
}
#skill-txt {
  width: 38%;
  font-size: 1.3rem;
  position: relative;
}
#skill-graph {
  width: 50%;
  margin-top: -15rem;
  margin-left: 45rem;
  font-size: 1.5rem;
}
.sp {
  margin-bottom: 2rem;
}
.sp footer {
  height: 2px;
  background-color: #373737;
}
#fe-graph {
  width: 65%;
  height: 100%;
  background-color: #00a8ff;
}
#be-graph {
  width: 30%;
  height: 100%;
  background-color: #fff;
}
#c-graph {
  width: 25%;
  height: 100%;
  background-color: #fff;
}
#pts-graph {
  width: 55%;
  height: 100%;
  background-color: #eb2f06;
}
/*Projets*/
#project {
  margin-top: 33rem;
  width: 100%;
}
#project h2 {
  font-size: 3.5rem;
  color: #00a8ff;
  user-select: none;
  -webkit-user-select: none;
  margin-left: 4.5rem;
}
#project span {
  margin: -0.525rem;
  display: inline-block;
}
#project-txt {
  width: 80%;
  font-size: 1.3rem;
  position: relative;
  margin-left: 4.5rem;
}
#project-content {
  flex-wrap: wrap;
  display: flex;
  margin-top: 4rem;
  z-index: -3;
  width: 100%;
  padding-left: 2rem;
}
#project-content span {
  height: 300px;
  width: 20%;
  border: #000 1px solid;
  background: #8d8d8d;
  position: relative;
  overflow-x: visible;
}
/*Contact*/
#contacter {
  margin-top: 20rem;
  margin-left: 4.5rem;
}
#contacter h2 {
  font-size: 3.5rem;
  color: #00a8ff;
  user-select: none;
  -webkit-user-select: none;
}
#contacter h2>span {
  margin: -0.525rem;
  display: inline-block;
}
#contact-txt {
  width: 80%;
  font-size: 1.3rem;
  position: relative;
}
#contact {
  margin-top: 3rem;
  position: relative;
  width: 40%;
}
#contact input,textarea::placeholder {
  font-style: italic;
}
#nom {
  height: 40px;
  width: 250px;
}
#nom input{
  background: #373737;
  color: #8d8d8d;
  padding: 0 20px;
  border: rgba(0, 0, 0, 0);
  height: 40px;
  width: 250px;
  font-size: 1.1rem;
}
#nom input:focus{
  border-bottom: 2px #00a8ff solid;
  transition: .5s ease-out;
  outline: none;
}
#email {
  margin-top: -2.5rem;
  margin-left: 16.7rem;
  height: 40px;
  width: 250px;
}
#email input{
  background: #373737;
  color: #8d8d8d;
  padding: 0 20px;
  border: rgba(0, 0, 0, 0);
  height: 40px;
  width: 250px;
  font-size: 1.1rem;
}
#email input:focus{
  border-bottom: 2px #00a8ff solid;
  transition: .5s ease-out;
  outline: none;
}
#sujet {
  margin-top: 1rem;
  height: 40px;
  width: 517px;
}
#sujet input{
  background: #373737;
  color: #8d8d8d;
  padding: 0 20px;
  border: rgba(0, 0, 0, 0);
  height: 40px;
  width: 517px;
  font-size: 1.1rem;
}
#sujet input:focus{
  border-bottom: 2px #00a8ff solid;
  transition: .5s ease-out;
  outline: none;
}
#message {
  margin-top: 1rem;
  height: 300px;
  width: 517px;
}
#message textarea{
  background: #373737;
  color: #8d8d8d;
  padding: 10px 10px;
  border: rgba(0, 0, 0, 0);
  height: 300px;
  width: 517px;
  font-size: 1.1rem;
  resize: none;
}
#message textarea:focus{
  border-bottom: 2px #00a8ff solid;
  transition: .5s ease-out;
  outline: none;
}
#count {
  font-size: 1rem;
  margin: 0.5rem 0 1rem;
  color: #8d8d8d;
  font-style: italic;
}
textarea::-webkit-scrollbar {
  width: 1rem;
}
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
textarea::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
  outline: 1px solid #8d8d8d;
}
#send {
  font-style: italic;
  margin-left: 21rem;
}
#map {
  float: right;
  margin-right: 10rem;
}